.mean{
    margin-left: 20%;
    h1{

    }
    p{
        width: 800px;
    }
    button{
        background-color: whitesmoke;
        border: none;
        color: black;
        border-radius: 50px;
        padding: 7px;
        width:5%;
    }
    a{
        background-color: whitesmoke;
        border: none;
        color: black;
        border-radius: 50px;
        padding: 7px;
        width: 5%;
    }
    input{
        background-color: whitesmoke;
        border: none;
        color: black;
        border-radius: 50px;
        padding: 7px;
        width: 6%;
    }
    .populyar{
        
        .container{
            
        
            .row{
                
                padding: 120px 0;
                .famous{
                    .images{

                    }
                   .info{
                       h2{
                        font-size: 25px;
                       }
                       ul{      
                                               
                           li{
                                
                               a{
                                text-decoration: none;
                                font-size: 25px;
                                
                               }
                           }
                       }
                   } 
                }
            }
        }
    }
    .taksit{
        .row{
            .card{
                a{
                    text-decoration: none;

                }
            }
        }
    }
}
